//Basic seting
body {
  background-color: #213D42;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
* {
  font-family: "Noto Serif", serif;
}

//Navbar seting
.transparent {
  background: rgba(0,0,0,0.5);
}
.navbar-brand, .nav-link {
	color: #F15025!important;
  font-size: 24px;
}
.nav-link {
  font-size: 16px;
  margin-top: 5px;
} 
.navbar-brand:hover {
  color: whitesmoke!important;
}
.nav-link:hover {
  color: whitesmoke!important;
}
.col-siz {
  color: #F15025!important;
  font-size: 20px;
  margin-top: 20px;
}

//project/index seting
.og {
  color: #FF7E6B!important;
}
.badge {
  margin-right: 10px;
}
.lead {
  font-size: 26px;
}
.card {
  margin: 25px;
}

//Form Seting
.form-group h2 {
  color: #FF7E6B!important;
}

//Show page Seting
.inline {
  display: inline-block;
}